{
	"printWidth": 120,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"requirePragma": false
}
