.container {
	max-width: 1440px;
	padding: 0 18px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	&.no-padding {
		@media (max-width: 1024px) {
			padding: 0;
		}
	}
}

.big-container {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
}
