@import "../base/vars";
.caviar {
    position: relative;
    padding: 70px 0 103px 0;
    overflow-x: clip;

    @media (max-width: 1024px) {
        padding: 0 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__descr {
        width: 493px;
        margin: 0 0 0 50%;

        @media (max-width: 1024px) {
            width: auto;

            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        h3 {
            font-family: Orelega One;
            font-size: 140px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            color: $oceanBlueColor;

            @media (max-width: 768px) {
                font-size: 60px;
            }
        }

        h4 {
            color: $blackColor;
            font-size: 15px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width: 768px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__btns {
        display: flex;
        margin: 22px 0 0 0;
        gap: 25px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__catalog-btn {
        min-height: 63px;
        padding: 0px 15px;

        color: white;
        border-radius: 50px;
        background: $oceanBlueColor;
        box-shadow:
            0px 1px 0px 0px rgba(0, 0, 0, 0.25),
            0px -1px 0px 0px rgba(255, 255, 255, 0.4);
        border: 2px solid $oceanBlueColor;

        &:hover {
            background-color: white;
            color: $oceanBlueColor;
        }
    }

    &__why-link {
        min-height: 63px;
        padding: 0px 15px;
        background: white;
        border-radius: 50px;
        border: 2px solid $oceanBlueColor;
        color: $oceanBlueColor;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        &:hover {
            background: $oceanBlueColor;
            color: white;
        }
    }

    &__caviar-bg {
        position: absolute;
        left: 0;
        top: 0px;
        z-index: -1;


        width: 780px;
        transform: rotate(0deg) translateX(11%);

        @media (max-width: 1680px) {
            transform: rotate(0deg) translateX(0%);
         
        }

        &.desk {
            display: block;
            @media (max-width: 1024px) {
                display: none;
            }
        }

        @media (max-width: 1024px) {
            position: static;
        }
    }

    &__fish-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -100;
        max-width: 100%;

        right: -10%;

        @media (max-width: 1024px) {
            position: static;
            width: 100%;
            max-width: none;
            margin: -20% 0 0 0;
            transform: translate(26%, 0);
        }

        @media (max-width: 768px) {
            width: 122%;
            margin: -24% 0 0 0;
            transform: translate(15%, 0) rotate(5deg);
        }
    }

    &__products-btn {
        display: none;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        min-height: 68px;
        width: 100%;
        padding: 0 25px;
        border-radius: 50px;
        background-color: $oceanBlueColor;
        color: white;
        margin: 20px 0 0 0;

        @media (max-width: 1024px) {
            display: flex;
        }
    }
}
