/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

@font-face {
    font-family: "Stem";
    src:
        local("Stem Medium"),
        local("Stem-Medium"),
        url("../fonts/Stem-Medium.woff2") format("woff2"),
        url("../fonts/Stem-Medium.woff") format("woff");

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stem";

    src:
        local("Stem SemiLight"),
        local("Stem-SemiLight"),
        url("../fonts/Stem-SemiLight.woff2") format("woff2"),
        url("../fonts/Stem-SemiLight.woff") format("woff");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stem";

    src:
        local("Stem Bold"),
        local("Stem-Bold"),
        url("../fonts/Stem-Bold.woff2") format("woff2"),
        url("../fonts/Stem-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Orelega One";
    src: url("../fonts/OrelegaOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.eot");
    src:
        local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.eot");
    src:
        local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat Black"),
        local("Montserrat-Black"),
        url("../fonts/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #036;
    border-radius: 5px;
}

* {
    scrollbar-color: #036 rgba(0, 0, 0, 0.15);
    scrollbar-width: thin;
}
